{% extends 'base_admin.html.twig' %}

{% block header_title %}Novo Monstro{% endblock %}

{% block body %}
<div class="max-w-4xl mx-auto">
    <div class="mb-8">
        <a href="{{ path('admin_monster_index') }}" class="text-slate-400 hover:text-primary transition-colors flex items-center space-x-2 text-sm font-bold uppercase tracking-widest">
            {{ ux_icon('lucide:arrow-left', {class: 'w-4 h-4'}) }}
            <span>Voltar para Lista</span>
        </a>
        <h1 class="text-3xl font-bold mt-4 dark:text-white">Adicionar Criatura</h1>
        <p class="text-slate-500">Preencha os dados básicos e estatísticas do novo monstro.</p>
    </div>

    <div class="bg-white dark:bg-slate-900 rounded-3xl border border-border p-8 shadow-sm">
        {{ include('admin/monster/_form.html.twig') }}
    </div>
</div>
{% endblock %}
